<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531615985163-kf40qm29bfhec0b388k3gm5e0j78peqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531615985163-kf40qm29bfhec0b388k3gm5e0j78peqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCCNEWptB3J2jZtZx2ra5ZEtpBjZTB37XY</string>
	<key>GCM_SENDER_ID</key>
	<string>531615985163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-9d90d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-9d90d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531615985163:ios:1f4d6a5442da6ef83d610e</string>
</dict>
</plist>